<!doctype html>

{% from "_render_field.html" import render_field %}

<html>
    <head>
    	<meta charset="utf-8">
        <title>Tag Hinter</title>
    </head>
    <body>
        <h1>Tag suggestions based on the title of your post.</h1>
        <p>Please, enter the title of your query below.</p>
        <p>All fields market with a '*' are mandatory.</p>
        <form method="POST" action="{{ url_for('form') }}">
                {{ form.csrf_token }}
            <dl>
                {{ render_field(form.title_text) }}
                           
            </dl>    
                <input type="submit" value="Submit">
        </form>
        
    </body>
</html>