<!doctype html>

{% from "_render_field.html" import render_field %}

<html>
    <head>
    	<meta charset="utf-8">
        <title>Delay forecast</title>
    </head>
    <body>
        <h1>What is the forecast of the delay of your flight?</h1>
        <p>Please, enter your flight data below.</p>
        <p>All fields market with a '*' are mandatory.</p>
        <form method="POST" action="{{ url_for('form') }}">
                {{ form.csrf_token }}
            <dl>
                {{ render_field(form.dep_date) }}
            
                {{ render_field(form.dep_time) }}
            
                {{ render_field(form.arr_date) }}
                
                {{ render_field(form.arr_time) }}
            
                {{ render_field(form.carrier) }}
                
                {{ render_field(form.origin) }}
                
                {{ render_field(form.destination) }}
                
                {{ render_field(form.dep_delay) }}
                
            </dl>    
                <input type="submit" value="Submit">
        </form>
        
    </body>
</html>