<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Delay forecast results</title>
	</head>
	<body>
	  <h1>This is the forecast of the delay of your flight</h1>
	  <p> The <strong><em>{{ carrier }}</em></strong> flight<br>
    	  from <strong><em>{{ origin }}</em></strong> airport<br>to <strong><em>{{ destination }}</em></strong> airport<br>
    	  departure scheduled on {{ dep_dt.strftime('%d-%b-%Y') }} at {{ dep_dt.strftime('%H:%M') }}<br>
    	  arrival scheduled on {{ arr_dt.strftime('%d-%b-%Y') }} at {{ arr_dt.strftime('%H:%M') }}<br>
    	  will have an <em>a priori</em> delay forecast of 
    	  {% if a_forecast > 0 %}<strong style="color:red;">{% else %}<strong style="color:green;">{% endif %}
    	  {{'{:0.0f}'.format(a_forecast)}}</strong> minutes 
    	  with an error of <strong>{{'{:0.0f}'.format(a_error)}}</strong> minutes
	  {%- if c_forecast %}
    	  <br>and a <em>conditional</em> delay forecast of 
        	  {% if c_forecast > 0 %}<strong style="color:red;">{% else %}<strong style="color:green;">{% endif %}
        	  {{'{:0.0f}'.format(c_forecast)}}</strong> minutes 
        	  with an error of <strong>{{'{:0.0f}'.format(c_error)}}</strong> minutes
	  {%- endif -%}
	  .</p>
	</body>
</html>
	